.main-portfolio-title {
  font-size: 20px;
  color: #000;
  position: relative;
  padding-bottom: 12px;
  margin-bottom: 10px;
  font-weight: bold; }

.main-portfolio-title a {
  color: #833582;
  text-decoration: none;
  text-transform: uppercase; }

.main-portfolio-title:before {
  content: '';
  position: absolute;
  width: 104px;
  height: 2px;
  left: 50%;
  margin-left: -52px;
  bottom: 0;
  background: #f8ecdd; }

.main-portfolio-text {
  font-size: 15px;
  color: #7c7c7c;
  margin-bottom: 12px; }

.folio-column {
  max-width: 185px;
  margin: auto; }

.folio-column img {
  max-width: 100%; }
